@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgb(228 228 231 1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bab9b9;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #81818143;
}

.colored-image {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(90deg);
}